.board-square {
	width: 100px;
	height: 100px;
	border: 1px solid #000;
	float: left;
	cursor: pointer;
}

.board-row:after {
	clear: both;
	content: "";
	display: table;
}

.light-square {
	/*background-color: #edeed1;*/
	background-color: #e5e6b7;

}

.dark-square {
	/*background-color: #779952;*/
	background-color: #a0862a;

}

.square-value {
	font-size: 68px;
	text-align: center;
	position: relative;
	z-index: 1;
}

.sel {
	background-color: rgba(0, 180, 0, 1);
}

.white-piece {
	color: #fff;
}

.black-piece {
	color: #000;
}

.white-attacking {
	box-shadow: inset 10px 10px 5px yellow,
				inset -10px -10px 5px yellow;
}

.black-attacking {
	box-shadow: inset 10px 10px 5px red,
				inset -10px -10px 5px red;
}

.both-attacking {
	box-shadow: inset 10px 10px 5px orange,
				inset -10px -10px 5px orange;
}

.promotion-popup {
	position: absolute;
	background-color: #fff;
	border: 1px solid #000;
	font-size: 48px;
}

.promotion-piece {
	float: left;
}

.legal-move {
	position: relative;
}
.legal-move:after {
	content: '';
	position: absolute;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	background-color: rgba(0, 180, 0, 1);
	top: 30px;
	left: 24px;
}