body {
	background-color: #f5f5dc;
}
.game {
	width: 1100px;
	margin: 0 auto;
	display: flex;
}

.side-panel {
	width: 300px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-between;
	border-top: 2px solid #000;
	border-right: 2px solid #000;
	border-bottom: 2px solid #000;
}

.game-board {
	width: 800px;
	border: 1px solid #000;
}

.board-row {
	display: flex;
}

.board-square {
	box-sizing: border-box;
	width: 100px;
	height: 100px;
	border: 1px solid #000;
	cursor: pointer;
}

.light-square {
	background-color: #e5e6b7;
}

.dark-square {
	background-color: #a0862a;
}

.square-value {
	font-size: 68px;
	text-align: center;
	position: relative;
	z-index: 1;
	text-shadow: 1px 1px 0 #999999;
}

.selected-square {
	background-color: rgba(0, 180, 0, 1);
}

.white-piece {
	color: #fff;
}

.black-piece {
	color: #000;
}

.white-attacking {
	box-shadow: inset 10px 10px 5px yellow,
				inset -10px -10px 5px yellow;
}

.black-attacking {
	box-shadow: inset 10px 10px 5px red,
				inset -10px -10px 5px red;
}

.both-attacking {
	box-shadow: inset 10px 10px 5px orange,
				inset -10px -10px 5px orange;
}

.captures {
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
	font-size: 37px;
}

.player-turn {
	text-align: center;
	text-transform: capitalize;
	margin-bottom: 20px;
	font-size: 20px;
}

.promotion-popup {
	position: absolute;
	z-index: 5;
	background-color: #fff;
	border: 1px solid #000;
	font-size: 48px;
}

.promotion-piece {
	display: inline-block;
	cursor: pointer;
}

.history-container {
	display: flex;
	width: 100%;
	box-sizing: border-box;
	justify-content: center;
}

.history-button {
	font-size: 36px;
	cursor: pointer;
}

.legal-move {
	position: relative;
}
.legal-move:after {
	content: '';
	position: absolute;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	background-color: rgba(200, 200, 200, 1);
	top: 30px;
	left: 24px;
}
.show-visualizations-container {
	text-align: center;
	margin: 20px 0 0 0;
}
.visualizations-header {
	margin: 0 0 10px 0;
	font-size: 20px;
}
